.swipe-container {
  position: relative;
  overflow: hidden;
  width: 95%;
  height: 100%;
  margin-left: 2%;
  border-radius: 20px;

}

.projects-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.sectionTitle {
  color: #1b4332;
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.project-card {
  min-width: 100%;
  padding: 40px;
  background: #1a3c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}

.description {
  flex: 1;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
  max-width: 400px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.image-container {
  flex: 1;
  max-width: 50%;
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image-container img {
  margin-right: 20px;
  max-width: 90%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.description h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #f4c430;
}

.description p {
  margin: 8px 0;
  font-size: 1.2rem;
}

.description p strong {
  color: #f4c430;
}

.navigation-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #E0E1DD;
  cursor: pointer;
}

.dot.active {
  background: #1B263B;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #0D1B2A80;
  color: #f4c430;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 1.2rem;
}

.arrow.left {
   left: 10px;
   border-radius: 80%;
   }
.arrow.right { 
  border-radius: 80%;
  right: 10px; 
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
  }
  .description {
    margin-right: 0;
    margin-bottom: 30px;
    max-width: none;
  }
  .image-container {
    width: 100%;
  }
}